# Compiled Object files
*.lo
*.o
*.obj
*.slo

# Compiled Dynamic libraries
*.dll
*.so

# Compiled Static libraries
*.lib
*.lai
*.la
*.a

# Visual Studio files
*.sdf
*.user
*.suo
*.opensdf

# Dynamic Dependency files

# Comiled binaries
*.exe

# Generic Binary and temporary files
bin/*
obj/*
src/ipch/*
