# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
src/muVM.sdf
*.user
*.suo
*.lai
*.la
*.a
*.sdf
*.dll
*.exe
*.lib
*.obj
bin/*
obj/*
*.opensdf
src/ipch/*